body {
    text-align: center;
    font-family: cursive;
    background-color: lightgrey;
}

h1 {
    color:orange;
    text-align: center;

    background-color:red;
}

table  {
    background-color: red;
    height: 500px;
    width: 1000px;
    border: 4px solid orange;
    border-style: groove;
    border-radius: 10px;
}

.favorite {
    background-color: orange;
}

tr {
    border-spacing: 5px; 
}

th, td {
    border: 2px solid orange;
    border-radius: 10px;
}

.price {
    background-color: green;
}